<footer class="main-footer dark-bg">
    <div class="pull-right hidden-xs"> <b>Versiyon</b> 1.0</div>
    <strong>Tüm hakları saklıdır &copy; @DateTime.Now.Year <a href="#">MultiShop</a>.</strong>
</footer>