@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Ürün</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_ProductPriceFilterViewComponentPartial")

            @await Component.InvokeAsync("_ProductColorFilterViewComponentPartial")

            @await Component.InvokeAsync("_ProductSizeFilterViewComponentPartial")
        </div>

        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_ProductGetListProductCountViewComponentPartial")

                @await Component.InvokeAsync("_ProductListViewComponentPartial", new { id = ViewBag.i })
                @await Component.InvokeAsync("_ProductPaginationViewComponentPartial")
            </div>
        </div>
    </div>
</div>

