@using MultiShop.DTOLayer.CatalogDTOs.ProductDTO
@model List<ResultProductWithCategoryDTO>

<div class="row px-xl-5">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1 d-flex align-items-stretch">
                <div class="product-item bg-light mb-4 w-100">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100 custom-product-img" src="@item.ProductImageUrl" alt="@item.ProductName">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4 px-2 d-flex flex-column justify-content-between flex-grow-1">
                        <a class="h6 text-decoration-none text-truncate d-block" href="">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.ProductPrice.ToString("C2")</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12 text-center">
            <p class="alert alert-warning">Bu kategoride henüz ürün bulunmamaktadır.</p>
        </div>
    }
</div>

<style>
    .custom-product-img {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

        .product-item:hover {
            box-shadow: 0 0 15px rgba(0,0,0,.1);
        }
</style>