@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_CarouselDefaultViewComponentPartial")
@await Component.InvokeAsync("_FeatureDefaultViewComponentPartiall")
@await Component.InvokeAsync("_CategoriesDefaultViewComponentPartial")
@await Component.InvokeAsync("_ProductFeatureDefaultViewComponentPartial")
@await Component.InvokeAsync("_OfferDiscountDefaultViewComponentPartial")
@await Component.InvokeAsync("_VendorDefaultViewComponentPartial")